* {box-sizing: border-box}

@viewport {
    width: device-width;
    zoom: 1.0;
}


@media screen and (max-width:850px) {
  /* CSS for screens that are 850 pixels or less will be put in this section */
    .tab button {
        font-size: 12px;
    }
    .Story-History-Selection button {
        font-size: 12px;
    }

}

@media screen and (min-width:851px) {
    /* CSS for screens that are at least 851 pixels goes here */
    .tab button {
        font-size: 17px;
    }
    .Story-History-Selection button {
        font-size: 17px;
    }
}

@media screen and (max-width:1899px) {
    /* CSS for small screens under 1899 pixels will be put here */
    /* Change color of header to represent window size */
    h1, h2, h3 {color: red;
    text-shadow: 2px 2px 2px #ff0000;}
    
    .battle-text {
    font-size: 8px;
    }
    
    #battleContainerMap {
    height: 200px;
    width: 400px;
    position: relative;
    outline: 1px solid #ccc;
        }
    
    #duelContainerMap {
        height: 60px;
        width: 400px;
        position: relative;
        outline: 1px solid #ccc;
    }
    
    
    #containerMap {
    height: 200px;
    width: 400px;
    position: relative;
    outline: 1px solid #ccc;
        }
/* example of a single tile */
.grass {
    height: 20px;
    width: 20px;
    position:relative;
    float:left;
    background-color: green;
    outline: 1px solid #ccc;
        }
        
.desert {
    height: 20px;
    width: 20px;
    position:relative;
    float:left;
    background-color: tan;
    outline: 1px solid #ccc;
        }

.snow {
    height: 20px;
    width: 20px;
    position:relative;
    float:left;
    background-color: white;
    outline: 1px solid #ccc;
        }

.mountain {
    height: 20px;
    width: 20px;
    position:relative;
    float:left;
    background-color: whitesmoke;
    outline: 1px solid #ccc;
        }

.settlement {
    height: 20px;
    width: 20px;
    position:relative;
    float:left;
    background-color: lightgoldenrodyellow;
    outline: 1px solid #ccc;
        }
    
.adv-img {
    z-index: 1;
    position: absolute;
    display: block;
    top: 2px;
    left: 2px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
        }
    
.adv-img-overlay {
    opacity: 20%;
    position: absolute;
    display: block;
    z-index: 2;
    top: 2px;
    left: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
        }
    
}
/* end of max 1899px */

@media screen and (min-width:1900px) {
    /* CSS for screens that are greater than 1900 pixels */
    h1, h2, h3 {color: white;
    text-shadow: 2px 2px 2px #ff0000;}
    
    .battle-text {
    font-size: 16px;
    }
    
    #battleContainerMap {
    height: 500px;
    width: 1600px;
    position: relative;
    outline: 1px solid #ccc;
        }
    
    #duelContainerMap {
        height: 150px;
        width: 1600px;
        position: relative;
        outline: 1px solid #ccc;
    }
    
    #containerMap {
    height: 500px;
    width: 1600px;
    position: relative;
    outline: 1px solid #ccc;
        }
    
/* example of a single tile */
.grass {
    height: 50px;
    width: 80px;
    position:relative;
    float:left;
    background-color: green;
    outline: 1px solid #ccc;
        }
        
.desert {
    height: 50px;
    width: 80px;
    position:relative;
    float:left;
    background-color: tan;
    outline: 1px solid #ccc;
        }

.snow {
    height: 50px;
    width: 80px;
    position:relative;
    float:left;
    background-color: white;
    outline: 1px solid #ccc;
        }

.mountain {
    height: 50px;
    width: 80px;
    position:relative;
    float:left;
    background-color: whitesmoke;
    outline: 1px solid #ccc;
        }

.settlement {
    height: 50px;
    width: 80px;
    position:relative;
    float:left;
    background-color: lightgoldenrodyellow;
    outline: 1px solid #ccc;
        }
    
.adv-img {
    position: absolute;
    display: block;
    z-index: 1;
    top: 17px;
    left: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
        }

.adv-img-overlay {
    opacity: 20%;
    position: absolute;
    display: block;
    z-index: 2;
    top: 17px;
    left: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
        }
    
}
/* end of 1900px */


body {
   /* font-family: "Lato", sans-serif; */
    /* background-color: #bbb;      */
    background-color: black;
}

img {

}

table {
    color:white;
}

p {
    color: white;
}

/*
h1, h2, h3 {
    color: white;
    text-shadow: 2px 2px 2px #ff0000;
}
*/

/* style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #00001a;
    width: 15%;
    height: 800px;  `
}

/* style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #000066;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #0000b3;
}

.tablinks {
    
}

.Story-History-Selection {
    overflow-y: scroll;
    height: 700px;
}

.Story-History-Selection button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.History-Content-Selection button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.Story-History-Selection button:hover {
  background-color: #000066;
}

/* Create an active/current "tab button" class */
.Story-History-Selection button.active {
  background-color: #0000b3;
}

/* Change background color of buttons on hover */
.History-Content-Selection button:hover {
  background-color: #000066;
}

/* Create an active/current "tab button" class */
.History-Content-Selection button.active {
  background-color: #0000b3;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 8px;
  border: 1px solid #ccc;
  width: 85%;
  border-left: none;
  height: 800px;
}

.storycontent {
/*    display: none;    */
}

.armies-content {
    display: inline-block;
    padding: 5px;
}

.battle-img {
    height: 80px;
    padding: 2px;
}

.duel-img {
    height: 360px;
    
}

.creature-img-large {
    width: 20%;
}

div.creatures-select {
    overflow-x: scroll;
    border: 1px solid white;
    background-color: lightblue;
    height: 200px;
    width: 100%;
}

div.creatures-select-enlistment {
    overflow-x: scroll;
    border: 1px solid white;
    background-color: lightblue;
    height: 80px;
    width: 100%; 
}

/* relating to the adventure game */
.adv-button {
    height: 70px;
    width: 100px;
    font-size: 17px;
}


.adv-paragraph {
    display: inline-block;
    margin-left: 5px;
}  

#adv-movement {
    border: 1px solid yellow;
    display: inline-block;
}

#adv-interactions {
    border: 1px solid yellow;
    display: inline-block;
}

.battle-text {
    text-align: center;
}

.QA-Question {
    padding-left: 8px;
}

